<!DOCTYPE html>
<html lang="en">
<head>
	<title><%= @config.name %></title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/layout.css" rel="stylesheet">
	<link rel="shortcut icon" href="https://secure.gravatar.com/avatar/4dea71e9df9a75bddd0c6aac8095065b?s=16" />
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-19397862-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
</head>
<body data-spy="scroll">
	<div class="navbar navbar-fixed-top" id="navbar">
		<div class="navbar-inner">
			<div class="container">
				<a class="brand" href="#main"><%= @config.name %></a>
				<ul class="nav">
					<% @config.pages.each do |page| %>
						<li <%= 'class="active"' if page == @config.pages.first %> ><a href="#<%= page %>"><%= page.capitalize.gsub(/_/, ' ') %></a></li>
					<% end %>
				</ul>
			</div>
		</div>
	</div>
	
	<div class="page first-page" id="main">
		<h1><%= @config.name %></h1>
		<h2><%= @config.title %></h2>
		<ul>
			<li><a href="https://github.com/Arcath" target="_BLANK"><img src="/img/github_64.png" /></a></li>
			<li><a href="http://www.linkedin.com/profile/view?id=120149266&trk=tab_pro" target="_BLANK"><img src="/img/linkedin_64.png" /></a></li>
			<li><a href="http://twitter.com/ArcathWhitefall" target="_BLANK"><img src="/img/twitter_64.png" /></a></li>
		</ul>
	</div>
	
	<div class="container">
		<!--<div class="row">
			<div class="hero-unit masthead">
				<h1><%= @config.name %></h1>
				<h2><%= @config.title %></h2>
			</div>
		</div>-->

		<% @config.pages.each do |page| %>
			<div class="row page" id="<%= page %>">
				<%= render :erb, File.read("views/_#{page}.erb") %>	
			</div>
		<% end %>
	</div>
	
	<script src="/js/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/bootstrap-scrollspy.js"></script>
	<script src="/js/layout.js"></script>
</body>
</html>